<div id="articles" class="row">
  <% obj.each do |article| %>
    <div class="article-container col-md-12">
      <h3 class="article-title"> <%= article.title %></h3>
      <small class=article-details>
        <div class="article-author">
          <strong>Author:</strong> <%= article.user.username if article.user%>
        </div>
        <div class="article-created">
          <strong>Published:</strong> <%= time_ago_in_words(article.created_at) %> ago,
        </div>
        <div class ="article-update">
          <strong>last updated:</strong> <%=  time_ago_in_words(article.updated_at) %> ago
        </div>
      </small>

      <p class="article-description"> <%= truncate(article.description, length: 100) %></p>

      <% if article.user %>
      <div id="actions">
        <%= link_to "View Article", article_path(article), class: "view-article" %>
        <%= link_to "Edit Article", edit_article_path(article), class: "edit-article" %>
        <%= link_to "Delete Article", article_path(article), class: "delete-article", method: :delete, data: {confirm: "Are you sure?"} %>
      <% end %>
      </div>
    </div>
  <% end %>
</div>
