<div class="container">
  <div class="row">
    <div class="col-md-12">

      <div id="page-title">
        <h3>Signup Account </h3>
      </div>

      <% if @user.errors.any? %>
      <div class="error-message-container">
        <h3> Failed creating user! </h3>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="article-form-container">
      <%= form_for @user do |f| %>
      <table class="article-table">
        <tr>
          <td><%= f.label :username, "Name" %></td>
          <td><%= f.text_field :username %></td>
        </tr>
        <tr>
          <td><%= f.label :email %></td>
          <td><%= f.text_area :email %></td>
        </tr>
        <tr>
          <td><%= f.label :password %></td>
          <td><%= f.text_area :password %></td>
        </tr>
        </table>
      <p>
      <%= f.submit "Sign-up" %>
      </p>
      <% end %>

      <p><%= link_to "Back to Articles", articles_path %></p>
      </div>
    </div>
  </div>
</div>
